<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
  <general>
    <AppVersion>1.0.0.20170429</AppVersion>
    <delayMinute>30</delayMinute>
  </general>
  <version>
    <update.exe>1.0.0.20170429</update.exe>
    <BingWallpaper.exe>1.0.0.20170429</BingWallpaper.exe>
    <Http.dll>1.0.0.20170423</Http.dll>
    <Newtonsoft.Json.dll>1.0.0.20170423</Newtonsoft.Json.dll>
    <image>1.0.0.20170423</image>
  </version>
</config>